{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>OAU</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/oaulogo.png' %}" rel="icon">
  <link href="{% static 'assets/img/oaulogo.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">
</head>
<body>
  <header id="header" class="fixed-top  header-transparent ">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
        <!-- <h1><a href="index.html">Appland</a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{% url 'application:home' %}"><img src="{% static 'assets/img/oaulogo.png' %}" alt="" class="img-fluid"></a>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#contact">Apply</a></li>
          <li><a class="getstarted scrollto" href="{% url 'application:print' %}">Print</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container">
      <div class="row">
        {% if messages %}
        {% for message in messages %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
</svg>
  <div class="alert alert-primary alert-dismissible fade show" role="alert">
  <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
  <strong>{{message}}</strong>   
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
        {% endfor %}
        {% endif %}
        <div class="col-lg-6 d-lg-flex flex-lg-column justify-content-center align-items-stretch pt-5 pt-lg-0 order-2 order-lg-1" data-aos="fade-up">
          <div>
            <h1 class="name">Department of Local Government and Development Studies. Obafemi Awolowo University.</h1>
            <a href="#contact" class="download-btn"><i class="bx bxl-play-store"></i>Apply for Diploma</a>
          </div>
        </div>
        <div class="col-lg-6 d-lg-flex flex-lg-column align-items-stretch order-1 order-lg-2 hero-img" data-aos="fade-up">
          <img src="{% static 'assets/img/localgov.jpg' %}" class="img-fluid" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">
    <!-- ======= Details Section ======= -->
    <section id="details" class="details">
      <div class="container">
         <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4 admission" data-aos="fade-up">
            <h3>Admission ! Admission !!  Admission !!!</h3>
            <p class="admission" style="text-align:justify; font-size:18px; line-height:28px">
              The Online registration for Diploma Programme into the Department of Local Government and Development 
              Studies is in progress. <br /><br />
              The programme started in 1979 as Local Government training programme under Department of  Public Administration. 
              It became a full fledged Department of its own in  April, 1984. <br />
              The Diploma programme of the Department of Local Government Studies now the Department of Local Government and 
              Development Studies, Faculty of Administration, Obafemi Awolowo University, Ile-Ife serves as a training programme 
              funded by the Federal Government of Nigeria. The programme was (and still is being) run in three regional centers, 
              namely, the Ahmadu Bello University, Zaria (ABU) for the North, the University of Nigeria, Nsukka (UNN) for the East, 
              and the Obafemi Awolowo University (OAU) for the South West. The designed objective at early stage was for the programme 
              to offer support, in the form of training and re-training facilities, to junior as well as mid-level local government 
              staff to improve their performance on the job. This is to justify the efforts of the government at federal and state levels 
              that had seen new vigour since 1976, to make Local Government (LG) a visible and effective third tier of government in Nigeria’s
              federal practice. 
              <br /><br />
              Over the years, the Diploma programme has benefited the general public and fresh secondary school graduates to pursue 
              university education. One of such benefits include the successful Diploma graduates with Cummulative Grade Point Average
              (CGPA) of 3.5 and above are qualified to apply for Direct Entry (DE) admission into 200 level B.Sc. Degree programmes in 
              the following Departments at Obafemi Awolowo University, namely: Local Government and Development Studies, Public Administration, 
              Political Science, Entrepreneurship Studies. However, these opportunities are not limited to Obafemi Awolowo University, Ile-Ife, Nigeria. 
              <br /><br/>
              Head of Department <br />
              Department of Local Government and Development Studies.
            </p>
          </div>
        </div>

        <div class="row content">
          <div class="col-md-4" data-aos="fade-right">
            <img src="{% static 'assets/img/details-1.png' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-8 pt-4" data-aos="fade-up">
            <h3>How to apply for Local Government Diploma Course.</h3>
            <p class="fst-italic">
             Follow the steps below to apply for Local Government Diploma Course:
              <ul>
              <li><i class="bi bi-check"></i>Pay for the application form.</li>
              <li><i class="bi bi-check"></i>Proceed to fill the appliction form correctly.</li>
              <li><i class="bi bi-check"></i>Print out application form after filling.</li>
            </ul>
            </p>
          </div>
        </div>
      </div>
    </section><!-- End Details Section -->

    <!-- Application Section -->
      <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
          <div class="section-title">
            <h2>Application for Admission to undertake Diploma Course</h2>
          </div>
          <div class="row">
            <div class="col-lg-12" id="application">
             <form action="/" method="post" data-aos="fade-up" enctype="multipart/form-data">
                  {% csrf_token %}
                 {{ form.non_field_errors }}
              <div class="form-group">
                  {{ form.errors }}
                  <label for="{{ form.commence.id_for_label }}">Commencing from<span class="required">*</span></label>
                  {{ form.commence }}

              {% if form.commence %}
              <h3 class="text-center mt-3">SECTION A (to be completed by the Applicant)</h3>
              {% endif %} 

               {{ form.errors }}
                  <label for="{{ form.firstName.id_for_label }}">First Name<span class="required">*</span></label>
              {{ form.firstName }}
              {{ form.errors }}
                  <label for="{{ form.surname.id_for_label }}">Surname<span class="required">*</span></label>
              {{ form.surname }}
              {{ form.errors }}
                  <label for="{{ form.othernames.id_for_label }}">Other Names<span class="required">*</span></label>
              {{ form.othernames }}
              {{ form.errors }}
                  <label for="{{ form.phone.id_for_label }}">Phone Number<span class="required">*</span></label>
              {{ form.phone }}
              {{ form.errors }}
                  <label for="{{ form.state.id_for_label }}">State of Origin<span class="required">*</span></label>
              {{ form.state }}
              {{ form.errors }}
                  <label for="{{ form.nationality.id_for_label }}">Nationality<span class="required">*</span></label>
              {{ form.nationality }}
              {{ form.errors }}
                  <label for="{{ form.placeOfBirth.id_for_label }}">Place of Birth<span class="required">*</span></label>
              {{ form.placeOfBirth }}
              {{ form.errors }}
                  <label for="{{ form.dob.id_for_label }}">Date of Birth<span class="required">*</span></label>
              {{ form.dob }}
              {{ form.errors }}
                  <label for="{{ form.sex.id_for_label }}">Sex<span class="required">*</span></label>
              {{ form.sex }}
               {{ form.errors }}
                  <label for="{{ form.maritalStatus.id_for_label }}">Marital Status<span class="required">*</span></label>
              {{ form.maritalStatus }}
              {{ form.errors }}
                  <label for="{{ form.noOfChildren.id_for_label }}">No of Children</label>
              {{ form.noOfChildren }}
              {{ form.errors }}
                  <label for="{{ form.religion.id_for_label }}">Religion<span class="required">*</span></label>
              {{ form.religion }}
              {{ form.errors }}
                  <label for="{{ form.email.id_for_label }}">Mail Address for Reply<span class="required">*</span></label>
              {{ form.email }}
              {{ form.errors }}
                  <label for="{{ form.address.id_for_label }}">Permanent Home Address<span class="required">*</span></label>
              {{ form.address }}
              <h3 class="text-center mt-3">Next of Kin</h3>
               {{ form.errors }}
                  <label for="{{ form.name.id_for_label }}">Name<span class="required">*</span></label>
              {{ form.name }}
              {{ form.errors }}
                  <label for="{{ form.address.id_for_label }}">Permanent Home Address<span class="required">*</span></label>
              {{ form.address }}
              {{ form.errors }}
                  <label for="{{ form.nokphone.id_for_label }}">Phone Number<span class="required">*</span></label>
              {{ form.nokphone }}
              {{ form.errors }}
                  <label for="{{ form.naddress.id_for_label }}">Address<span class="required">*</span></label>
              {{ form.naddress }}
              {{ form.errors }}
                  <label for="{{ form.relationship.id_for_label }}">Relationship<span class="required">*</span></label>
              {{ form.relationship }}
              <h3 class="text-center mt-3">Educational record(from secondary school attended)Attach certified 
                photocopies of certificate</h3>
              {{ form.errors }}
                  <label for="{{ form.institution1.id_for_label }}">Name of Institution<span class="required">*</span></label>
              {{ form.institution1 }}
              {{ form.errors }}
                  <label for="{{ form.placeAndCountry.id_for_label }}">Place And Country<span class="required">*</span></label>
              {{ form.placeAndCountry }}
               {{ form.errors }}
                  <label for="{{ form.datefrom.id_for_label }}">Date( from.............to............)<span class="required">*</span></label>
              {{ form.datefrom }}
               {{ form.errors }}
                  <label for="{{ form.certificate1.id_for_label }}">Certificate Obtained on leaving<span class="required">*</span></label>
              {{ form.certificate1 }}
              <h3 class="text-center mt-3">Other Certificates</h3>
              {{ form.errors }}
                <label for="{{ form.institution2.id_for_label }}">Institution</label>
              {{ form.institution2 }}
              {{ form.errors }}
                  <label for="{{ form.certificate2.id_for_label }}"> Other Certificate Obtained</label>
              {{ form.certificate2 }}
              <h3 class="text-center mt-3">Employer Details</h3>
              {{ form.errors }}
                  <label for="{{ form.employername.id_for_label }}">Name<span class="required">*</span></label>
              {{ form.employername }}
              {{ form.errors }}
                  <label for="{{ form.employeraddress.id_for_label }}">Address<span class="required">*</span></label>
              {{ form.employeraddress }}
              {{ form.errors }}
                  <label for="{{ form.appointmentdate.id_for_label }}">Date of Appointment <span class="required">*</span></label>
              {{ form.appointmentdate }}
              {{ form.errors }}
                  <label for="{{ form.salary.id_for_label }}">Present Salary</label>
              {{ form.salary }}
              {{ form.errors }}
                  <label for="{{ form.post.id_for_label }}">Title of post currently held</label>
              {{ form.post }}
              <h3 class="text-center mt-3">Details of previous employment (s) and post(s) held</h3>
               {{ form.errors }}
                  <label for="{{ form.post2.id_for_label }}">Title of Post</label>
              {{ form.post2 }}
              {{ form.errors }}
                  <label for="{{ form.employername2.id_for_label }}">Name of Employer</label>
              {{ form.employername2 }}
              {{ form.errors }}
                  <label for="{{ form.employmentName.id_for_label }}">Name of Employment</label>
              {{ form.employmentName }}
              {{ form.errors }}
                  <label for="{{ form.salary2.id_for_label }}">Salary</label>
              {{ form.salary2 }}
              <h3 class="text-center mt-3">(The University Accepts no obligation to provide accommodation 
                for students but will be willing to render advisory services to such students)</h3>
              <h3 class="text-center mt-3">I hereby undertake to observe the rules and regulations of the 
                university and to subject myself to discipline during my course of study.</h3>
              {{ form.errors }}
                  <label for="{{ form.submitdate.id_for_label }}">Date<span class="required">*</span></label>
              {{ form.submitdate }}
              {{ form.errors }}
                  <label for="{{ form.Signature.id_for_label }}">Signature<span class="required">*</span></label>
              {{ form.Signature }}
              </div> 
              <div class="text-center"><button type="submit" value="Submit"  class="btn btn-outline-primary">Submit</button></div>
              </form>
            </div>
          </div>
        </div>
      </section><!-- End Application Section -->
  </main><!-- End #main -->
  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>Obafemi Awolowo University (OAU)</h3>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>About Us</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About OAU</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Vision & Mission</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Principal Officers</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">The Foundation</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">University Off</a></li>
            </ul>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Social Networks</h4>
            <div class="social-links mt-3">
              <a href="https://twitter.com/OAUniversity" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="https://www.facebook.com/OAUniversity" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="https://www.instagram.com/OAUniversity/" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="http://youtube.com/channel/UCGRJq_dnirj1OjEiSamcoDA" class="youtube"><i class="bx bxl-youtube"></i></a>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container py-4">
      <div class="copyright">
        &copy; Copyright <strong><span>Computer Center</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed by <a href="#">Computer Center</a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>